__pycache__/
dist/
.python-version
.venv/
.pytest_cache/
*.egg-info
.idea/
.vscode/
coverage/
.coverage
test-coverage-tool
htmlcov/
PyYAML-3.13/
PyYAML-3.13.tar.gz
cc-reporter
codeclimate.json
coverage.json
coverage.lcov
coverage.xml
sonar-project.properties
setup.cfg
output.txt
output_stylish.txt
output_yaml.txt